/*Beginning of body style*/

body {
	background-image: url('pokemonbackground.jpg');
	background-size: 100% auto;
    color:white;
}
/*End of body style*/

/*Beginning of data inputs*/

.cityinput {
  position: absolute;
  left: 49%;
  top: 40%;
  margin-left: -150px;
  margin-top: -150px;
}

.addcityinput {
	position: absolute;
	left: 24%;
	top:40%;
	margin-left: -150px;
	margin-top: -150px;
}

.stats {
	position: absolute;
	left: 74%;
	top: 40%;
	margin-left: -150px;
	margin-top: -150px;
}
/*End of data inputs*/

/*Beginning of ad placement*/

.ad1 {
	position: absolute;
	left: 20%;
	top: 40%;
	margin-left: -150px;
	margin-top: -200px;
}

.ad2 {
	position: absolute;
	left: 90%;
	top: 40%;
	margin-left: -150px;
	margin-top: -200px;
}

.ad3 {
	position: absolute;
	left: 20%;
	top:95%;
	margin-left: -150px;
	margin-top: -50px;
}

.ad4 {
	position: absolute;
	left: 90%;
	top: 95%;
	margin-left: -150px;
	margin-top: -50px;
}
/*End of ad placement*/